@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital@1&family=Roboto+Condensed:ital,wght@1,300&display=swap');

#content{
    max-width: 1600px;
    margin: 0 auto;
}

nav a{
    text-align: center;
    color: black;
    text-decoration: none;
    padding: 35px;
}

#hero-msg h1, #hero-msg h4{
    text-align: center;
}

.button-box{
    text-align: center;
}

main section{
    text-align: center;
}

#background{
    height: 725px;
}

body{
    background-color: #5265DE;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 22px;
    padding: 0;
    margin: 0;
}

header{
    background-color: #7A67F5;
}

nav a:hover{
    background-color: black;
    color: white;
}
.book, .join{
    background-color: #C85CFA;
    color: black;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}

#background{
    background-color: #7A67F5;;
}
.msg{
    background-color:#5265FE;
    line-height: 1.5em;
    padding: 35px;
}

.home-title{
    color: black;
    font-family: 'Libre Baskerville', serif;;
    font-size: 2em;
    margin-top: 10px;
}

h2{
    margin: 0;
}

h4{
    color: black;
}

.book:hover, .join:hover{
    color: black;
}

.msg h2{
    color: black;
    font-family: 'Libre Baskerville', serif;;
}

.msg p{
    color: black;
    font-size: .8em;
    padding-bottom: 15px;
}
footer{
    background-color: #7A67F5;
    padding: 25px 50px;
    margin-top: 200px;
}

footer h3{
    color: black;
}

footer h3 a:hover{
    text-decoration: underline;
}

footer a{
    color: black;
    text-decoration: none;
}

footer a:hover{
    color: rgb(15, 3, 61);
}

footer .social img{
    padding-top: 15px;
}

.icon{
    padding-top: 10px;
}
.logo, .icon{
    width: 80px;
}

#hero-img{
    width: 100%;
}

#logo_link{
    padding-top: 5px;
}

.rivers-card, .camping-card, .rapids-card{
    margin: 200px 0;
}

.card-img{
    border: 10px solid #2a0464;
}

main section img{
    box-sizing: border-box;
}