body{
    
}
body{
    display: grid;
    grid-template-columns: repeat(9,1fr);
    grid-template-rows: repeat(6,200px);
    background-color: black;
}

.img{
    grid-column: 7/9;
}

.black {
    width: 100%; 
    height: 400px; 
    background-color: black; 
    grid-column: 1/2;
    grid-row: 1/4;
}
img{
    width: 100%s;
}